{% include './inc/header.liquid' %}
{% include './inc/sidebar.liquid' %}

<div class="content-page">
<div class="container-fluid">
   <div class="d-grid grid-cols-2 custom-grid-media">
      <div class="">
         <div class="card border subs-card">
            <div class="card-body">
               <div class="mb-5">
                  <div class="">
                     <h2 class="mb-2">Hi , Wilma Mumduya</h2>
                     <p class="pb-3">Welcome all your new subscribers. It’s good to have you here!</p>
                  </div>
                  <div class="d-flex flex-wrap align-items-center mt-4">
                     <a class="btn btn-lg btn-primary mr-3" href="page-create-templates.html">Create
                        E-mail</a>
                  </div>
               </div>
              
            </div>
         </div>
      </div>
      <div class="right-list index-list-scrollbar">
         <a href="page-contacts.html" title="">
            <div class="media iq-option border align-items-center p-3">
               <div class="bg-success-light rounded p-4">
                  <img src="../assets/images/options/01.png" class="img-fluid avatar-50" alt="image">
               </div>
               <div class="media-body">
                  <h4 class="mb-2">Upload Email List</h4>
                  <p class="mb-0">Upload all your records from your current system, and import them into EmailCHIMP.</p>
               </div>
            </div>
         </a>
         
         <a href="page-campaigns.html" title="">
            <div class="media iq-option active border align-items-center p-3">
               <div class="bg-success-light rounded p-4">
                  <img src="../assets/images/options/03.png" class="img-fluid avatar-50" alt="image">
               </div>
               <div class="media-body">
                  <h4 class="mb-2">Send Email</h4>
                  <p class="mb-0">Create and send your email campaign in literally minutes with a few quick steps.</p>
               </div>
            </div>
         </a>
        
      </div>
   </div>
<!-- Page end  -->
</div>
      </div>

{% include './inc/footer.liquid' %}

    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    Copyright 2021 <a href="#">EmailCHIMP</a>
                </div>
            </div>
        </div>
    </footer>
   