</div>
<!-- Backend Bundle JavaScript -->
<script src="../assets/js/backend-bundle.min.js"></script>

<!-- Table Treeview JavaScript -->
<script src="../assets/js/table-treeview.js"></script>

<!-- Fullcalender Javascript -->
<script src='../assets/vendor/fullcalendar/core/main.js'></script>
<script src='../assets/vendor/fullcalendar/daygrid/main.js'></script>
<script src='../assets/vendor/fullcalendar/timegrid/main.js'></script>
<script src='../assets/vendor/fullcalendar/list/main.js'></script>

<!-- SweetAlert JavaScript -->
<script src="../assets/js/sweetalert.js"></script>

<!-- Vectoe Map JavaScript -->
<script src="../assets/js/vector-map-custom.js"></script>

<!-- Chart Custom JavaScript -->

<!-- Chart Custom JavaScript -->
<script src="../assets/js/chart-custom.js"></script>

<!-- slider JavaScript -->
<script src="../assets/js/slider.js"></script>

<!-- app JavaScript -->
<script src="../assets/js/app.js"></script>

<script src="https://cdn.jsdelivr.net/npm/waitme@1.19.0/waitMe.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="/app/common.js"></script>
<script src="/app/index.js"></script>

</body>

</html>